<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome!</h1> <br>
        <h2>Pick your poison.</h2>
        <h3>The good stuff</h3>
        <a href="/top10words">
            <button>Top 10 words that appeared across positive reviews</button>
        </a> <br><br>
        <a href="/emotions">
            <button>Compilations of emotions observed in positive reviews</button>
        </a> <br><br>
        <a href="/overallrating">
            <button>Average positive review rating of each hotel across multiple booking sites</button> 
        </a> <br><br>
        <a href="/cleanliness">
            <button>Average cleanliness rating of each hotel</button>
        </a> <br><br>
        <a href="/service">
            <button>Average service rating of each hotel</button> 
        </a> <br><br>
        <h3>The not so good stuff</h3>
        <a href="/ntop10wordsgraph">
            <button>Top 10 words that appeared across negative reviews</button>
        </a> <br><br>
        <a href="/ntop10wordswordcloud">
            <button>Visualisation of top 10 words that appeared across negative reviews</button>
        </a> <br><br>
        <a href="/nemotions">
            <button>Compilations of emotions observed in negative reviews</button>
        </a> <br><br>
        <a href="/noverallrating">
            <button>Average negative review rating of each hotel across multiple booking sites</button>
        </a> <br><br>
    </body>
</html>
    